<div [formGroup]="layerFormGroup">
	<fieldset>
		<legend>Static Layer</legend>
		<div class="action-buttons">
			<button [disabled]="!canMoveEarlier">Move Up</button>
			<button [disabled]="!canMoveLater">Move Down</button>
			<button>Delete</button>
		</div>
		<div class="layer-settings">
			<fieldset class="dataset">
				<legend>DataSet</legend>
  			<app-dataset-editor />
			</fieldset>
			<fieldset class="default-image">
				<legend>Default Image</legend>
  			<app-default-image-editor formControlName="defaultImage" />
			</fieldset>
			<fieldset class="useVariantKeys">
				<legend>Variant Keys</legend>
				<div class="field-group">
					<input
						id="useVariantKeys"
						type="checkbox"
						formControlName="useVariantKeys"
					/>
					<label for="useVariantKeys">
						<span>Use variant keys</span>
					</label>
				</div>
			</fieldset>
		</div>
		<fieldset>
			<legend>Components</legend>
			<div formarray="components" class="component-container">
				@for(component of components; track component; let isFirst = $first, isLast = $last) {
					@if (componentIsStatic(component)) {
						<app-component-static-asset-editor [componentFormGroup]="component" [canMoveEarlier]="!isFirst" [canMoveLater]="!isLast" />
					}
				}
			</div>
			<div class="action-buttons">
				<button>Add Static Asset</button>
			</div>
		</fieldset>
	</fieldset>
</div>
