.action-buttons {
	display: flex;
	flex-direction: row;
	gap: .5rem;
	justify-content: flex-end;
	margin-bottom: .5rem;
}

.row {
	display: flex;
	flex-direction: row;
	gap: .5rem;
	margin-top: .5rem;
}

.paths, .position, .variants {
	margin: 0;
}

.paths {
	flex-grow: 1;
}
