<div [formGroup]="componentFormGroup">
	<fieldset>
		<legend>Static Asset</legend>
		<div class="action-buttons">
			<button (click)="onMoveEarlierButton_click()" [disabled]="!canMoveEarlier">Move Up</button>
			<button (click)="onMoveLaterButton_click()" [disabled]="!canMoveLater">Move Down</button>
			<button (click)="onDeleteButton_click()">Delete</button>
		</div>
		<div class="row">
			<fieldset class="paths">
				<legend>Paths</legend>
				<app-paths-editor formControlName="paths" />
			</fieldset>
			<fieldset class="position">
				<legend>Position</legend>
				<app-position-editor [positionFormGroup]="positionFormGroup" />
			</fieldset>
			<fieldset class="variants">
				<legend>Variants</legend>
				<app-variants-editor controlId="variants" formControlName="variants" />
			</fieldset>
		</div>
	</fieldset>
</div>
