<div class="keys-editor">
	<div class="key-container">
		@if (variants.length === 0) {
			<div>No variants defined.</div>
		} @else {
			@for(key of variants; track key; let i = $index) {
			<span class="key-pill">
				<span class="key-label">{{key}}</span>
				<button class="key-delete-button" (click)="onDeleteKeyButton_click(i)">X</button>
			</span>
			}
		}
	</div>
	<input
		[id]="controlId"
		type="text"
		required
		[(ngModel)]="newVariantValue"
		[disabled]="isDisabled"
	/>
	<button (click)="onAddKeyButton_click()" [disabled]="isDisabled">Add</button>
</div>
