.action-buttons {
	display: flex;
	flex-direction: row;
	gap: .5rem;
	justify-content: flex-end;
	margin-bottom: .5rem;
}

.row {
	display: flex;
	flex-direction: row;
	gap: .5rem;
}

.sets, .position, .variants {
	margin: 0;
}

.sets, .default-text, .text-format {
	flex-grow: 1;
}
