<div [formGroup]="layerFormGroup">
	<fieldset>
		<legend>Text Layer</legend>
		<div class="layer-settings">
			<fieldset class="dataset">
				<legend>DataSet</legend>
  			<app-dataset-editor formControlName="dataSet" />
			</fieldset>
			<fieldset class="default-image">
				<legend>Default Image</legend>
  			<app-default-image-editor formControlName="defaultImage" />
			</fieldset>
			<fieldset class="useVariantKeys">
				<legend>Use Variant Keys</legend>
				<div class="field-group">
					<div class="field-group">
						<input
							id="useVariantKeys"
							type="checkbox"
							formControlName="useVariantKeys"
						/>
						<label for="useVariantKeys">
							<span>Use variant keys</span>
						</label>
					</div>
				</div>
			</fieldset>
		</div>
		<fieldset>
			<legend>Components</legend>
			<div formarray="components">
				@for(component of components; track component) {
					@if (componentIsDirectsmile(component)) {
						<app-component-directsmile-editor [componentFormGroup]="component" />
					}
				}
			</div>
		</fieldset>
	</fieldset>
</div>
