<div [formGroup]="layerFormGroup">
	<fieldset>
		<legend>Text Layer</legend>
		<div class="action-buttons">
			<button (click)="onLayerMoveEarlierButton_click()" [disabled]="!canMoveEarlier">Move Up</button>
			<button (click)="onLayerMoveLaterButton_click()" [disabled]="!canMoveLater">Move Down</button>
			<button (click)="onLayerDeleteButton_click()">Delete</button>
		</div>
		<div class="layer-settings">
			<fieldset class="dataset">
				<legend>DataSet</legend>
  			<app-dataset-editor formControlName="dataSet" />
			</fieldset>
			<fieldset class="default-image">
				<legend>Default Image</legend>
  			<app-default-image-editor formControlName="defaultImage" />
			</fieldset>
			<fieldset class="useVariantKeys">
				<legend>Use Variant Keys</legend>
				<div class="field-group">
					<div class="field-group">
						<input
							id="useVariantKeys"
							type="checkbox"
							formControlName="useVariantKeys"
						/>
						<label for="useVariantKeys">
							<span>Use variant keys</span>
						</label>
					</div>
				</div>
			</fieldset>
		</div>
		<fieldset>
			<legend>Components</legend>
			<div formarray="components" class="component-container">
				@for(component of components; track component; let isFirst = $first, isLast = $last) {
					@if (componentIsDirectsmile(component)) {
						<app-component-directsmile-editor
							[layerFormGroup]="layerFormGroup"
							[componentFormGroup]="component"
							[canMoveEarlier]="!isFirst"
							[canMoveLater]="!isLast"
						/>
					}
				}
			</div>
			<div class="action-buttons">
				<button (click)="onNewComponent_click()">New DirectSmile</button>
			</div>
		</fieldset>
	</fieldset>
</div>
